mixin radio(item, index)
  +b.radio
    +e.INPUT.input(
        type="radio",
        name="form-"+item.name,
        id="form-"+item.name + (index + 1),
        checked=item.isChecked
        disabled=item.isDisabled
        )
    +e.LABEL.label(for="form-"+item.name + (index + 1)) !{item.label}
