-
  var toolsItems = [
    {
      name: "crop",
      title: "Кадрировать",
      isChecked: "checked",
      svgClass: "svg-icon-editor-crop",
      svgID: "icon-editor-crop"
    },
    {
      name: "fill",
      title: "Заполнить",
      isChecked: false,
      svgClass: "svg-icon-editor-fill",
      svgID: "icon-editor-fill"
    },
    {
      name: "contrast",
      title: "Контраст",
      isChecked: false,
      svgClass: "svg-icon-editor-contrast",
      svgID: "icon-editor-contrast"
    }
  ]

mixin editor
  +b.FORM.editor
    +e.inner
      +e.img-wrap
        picture
         source(
           media="(min-width: 1020px)",
           srcset= "img/content/photo-7-desktop.jpg 1x, img/content/photo-7-desktop@2x.jpg 2x"
         )
         source(
           media="(min-width: 700px)",
           srcset= "img/content/photo-7-tablet.jpg 1x, img/content/photo-7-tablet@2x.jpg 2x"
         )
         +e.IMG.img(
           src= "img/content/photo-7-mobile.jpg",
           srcset= "img/content/photo-7-mobile@2x.jpg 2x",
           alt="Ваша фотография",
           title="Ваша фотография"
         )
      +e.col
        +e.tools
          each item in toolsItems
            +e.tool(class="--" + item.name)
              +e.INPUT.input(
                type="radio",
                name="tool"
                id="tool-" + item.name,
                checked=item.isChecked
                )
              +e.LABEL.label(
                for="tool-" + item.name
                )= item.title
                +e.tool-icon-wrap
                  +e.SVG.tool-icon(class=item.svgClass)
                    use(xlink:href="img/svg-sprite.svg#" + item.svgID)
                +e.SPAN(class="scale-wrap--" + item.name)
                  +e.scale.js-scale
                    +e.toggle.js-thumb

        +e.btn-wrap
          +e.BUTTON.btn.btn--small.--c-brand(type="submit") Запостить
          +e.BUTTON.btn.btn--small.--c-mono(type="reset") Отмена
