mixin field(item, index)
  case item.inputType
    when "phone"
      - var modName = "--phone"
    when "email"
      - var modName = "--email"
    default
      - var modName = "--text"

  +b(class="field" + modName)
    +e.LABEL.label(for="form-"+item.name + (index + 1)) !{item.label}
    +e.DIV.input-wrap
      +e.INPUT.input(
          type=item.inputType,
          name="form-"+item.name,
          id="form-"+item.name + (index + 1),
          placeholder=item.placeholder
          )
